.bg_reg {
	background-image: url('ticket/d.png');
	background-size: cover;
}
.button {
  background-color: #008CBA;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.9s;
}
.hover:hover {
  background-color: black;
}
.logo-one {
	 position: absolute;
   top: 140px;
   left: 7px;
}
.logo-one-two {
   position: absolute;
   top: 140px;
   left: 215px;
}
.grid {
    display: grid;
    grid-template-rows: 150px;
    grid-auto-rows: 150px 150px;
    grid-gap: 5px;
    width: 300px;
    opacity: .8;
}
.white {
    background-color: white;
    color: white;
    font-size: 13px
}
.whitetab {
   position: absolute;
   top: 8px;
   width: 300px;
   left: 8px;
   opacity: 0.2;
   text-indent: 0px;
}
.white2 {
    background-color: white;
    color: white;
}
.whitetab2 {
   position: absolute;
   top: 140px;
   width: 300px;
   left: 8px;
   opacity: 0.05;
}
.barcode {
  position: absolute;
   top: 105px;
   left: 250px;
   opacity: .8;
}
.wing {
  position: absolute;
  top: 20px;
  left: 100px;
  opacity: .2;
}

#mid {
  position: absolute;
  top: 30px;
  left: 15px;
  font-size: 10px;
    }
#mid2 {
  position: absolute;
  top: 80px;
  left: 15px;
  font-size: 10px;
}
#mid3 {
  position: absolute;
  top: 80px;
  left: 80px;
  font-size: 10px;
}
#mid4 {
  position: absolute;
  top: 80px;
  left: 150px;
  font-size: 10px;
}
#mid5 {
  position: absolute;
  top: 30px;
  left: 150px;
  font-size: 10px;
}
#top {
  position: absolute;
  top: 11px;
  left: 15px;
  font-size: 8px;
  color: white;
}
#top2 {
  position: absolute;
  top: 11px;
  left: 100px;
  font-size: 8px;
  color: white;
}
#top3 {
  position: absolute;
  top: 11px;
  left: 200px;
  font-size: 8px;
  color: white;
}

.bg_reg {
  background-image: url('d.png');
  background-size: cover;
}
.button {
  background-color: #008CBA;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.9s;
}
.hover:hover {
  background-color: black;
}
.t2logo-one {
   position: absolute;
   top: 295px;
   left: 7px;
}
.t2logo-one-two {
   position: absolute;
   top: 295px;
   left: 215px;
}
.t2white {
  background-color: white;
  color: white;
  font-size: 13px
}
.t2whitetab {
   position: absolute;
   top: 163px;
   width: 300px;
   left: 8px;
   opacity: 0.2;
   text-indent: 0px;
}
.t2white2 {
    background-color: white;
    color: white;
}
.t2whitetab2 {
   position: absolute;
   top: 294px;
   width: 300px;
   left: 8px;
   opacity: 0.05;
}
.t2barcode {
  position: absolute;
   top: 260px;
   left: 250px;
   opacity: .8;
}
.t2wing {
  position: absolute;
  top: 175px;
  left: 100px;
  opacity: .2;
}

#t2mid {
  position: absolute;
  top: 187px;
  left: 15px;
  font-size: 10px;
    }
#t2mid2 {
  position: absolute;
  top: 237px;
  left: 15px;
  font-size: 10px;
}
#t2mid3 {
  position: absolute;
  top: 237px;
  left: 80px;
  font-size: 10px;
}
#t2mid4 {
  position: absolute;
  top: 237px;
  left: 150px;
  font-size: 10px;
}
#t2mid5 {
  position: absolute;
  top: 187px;
  left: 150px;
  font-size: 10px;
}
#t2top {
  position: absolute;
  top: 166px;
  left: 15px;
  font-size: 8px;
  color: white;
}
#t2top2 {
  position: absolute;
  top: 166px;
  left: 100px;
  font-size: 8px;
  color: white;
}
#t2top3 {
  position: absolute;
  top: 166px;
  left: 200px;
  font-size: 8px;
  color: white;
}
.bg_reg {
  background-image: url('d.png');
  background-size: cover;
}
.button {
  background-color: #008CBA;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.9s;
}
.hover:hover {
  background-color: black;
}
.t3logo-one {
   position: absolute;
   top: 450px;
   left: 7px;
}
.t3logo-one-two {
   position: absolute;
   top: 450px;
   left: 215px;
}
.t3white {
    background-color: white;
    color: white;
    font-size: 13px
}
.t3whitetab {
   position: absolute;
   top: 318px;
   width: 300px;
   left: 8px;
   opacity: 0.2;
   text-indent: 0px;
}
.t3white2 {
    background-color: white;
    color: white;
}
.t3whitetab2 {
   position: absolute;
   top: 448px;
   width: 300px;
   left: 8px;
   opacity: 0.05;
}
.t3barcode {
  position: absolute;
   top: 415px;
   left: 250px;
   opacity: .8;
}
.t3wing {
  position: absolute;
  top: 330px;
  left: 100px;
  opacity: .2;
}

#t3mid {
  position: absolute;
  top: 344px;
  left: 15px;
  font-size: 10px;
    }
#t3mid2 {
  position: absolute;
  top: 394px;
  left: 15px;
  font-size: 10px;
}
#t3mid3 {
  position: absolute;
  top: 394px;
  left: 80px;
  font-size: 10px;
}
#t3mid4 {
  position: absolute;
  top: 394px;
  left: 150px;
  font-size: 10px;
}
#t3mid5 {
  position: absolute;
  top: 344px;
  left: 150px;
  font-size: 10px;
}
#t3top {
  position: absolute;
  top: 321px;
  left: 15px;
  font-size: 8px;
  color: white;
}
#t3top2 {
  position: absolute;
  top: 321px;
  left: 100px;
  font-size: 8px;
  color: white;
}
#t3top3 {
  position: absolute;
  top: 321px;
  left: 200px;
  font-size: 8px;
  color: white;
}
.bg_reg {
  background-image: url('d.png');
  background-size: cover;
}
.button {
  background-color: #008CBA;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.9s;
}
.hover:hover {
  background-color: black;
}
.t4logo-one {
   position: absolute;
   top: 605px;
   left: 7px;
}
.t4logo-one-two {
   position: absolute;
   top: 605px;
   left: 215px;
}
.t4white {
    background-color: white;
    color: white;
    font-size: 13px
}
.t4whitetab {
   position: absolute;
   top: 473px;
   width: 300px;
   left: 8px;
   opacity: 0.2;
   text-indent: 0px;
}
.t4white2 {
    background-color: white;
    color: white;
}
.t4whitetab2 {
   position: absolute;
   top: 603px;
   width: 300px;
   left: 8px;
   opacity: 0.05;
}
.t4barcode {
  position: absolute;
   top: 570px;
   left: 250px;
   opacity: .8;
}
.t4wing {
  position: absolute;
  top: 485px;
  left: 100px;
  opacity: .2;
}

#t4mid {
  position: absolute;
  top: 499px;
  left: 15px;
  font-size: 10px;
    }
#t4mid2 {
  position: absolute;
  top: 551px;
  left: 15px;
  font-size: 10px;
}
#t4mid3 {
  position: absolute;
  top: 551px;
  left: 80px;
  font-size: 10px;
}
#t4mid4 {
  position: absolute;
  top: 551px;
  left: 150px;
  font-size: 10px;
}
#t4mid5 {
  position: absolute;
  top: 499px;
  left: 150px;
  font-size: 10px;
}
#t4top {
  position: absolute;
  top: 476px;
  left: 15px;
  font-size: 8px;
  color: white;
}
#t4top2 {
  position: absolute;
  top: 476px;
  left: 100px;
  font-size: 8px;
  color: white;
}
#t4top3 {
  position: absolute;
  top: 476px;
  left: 200px;
  font-size: 8px;
  color: white;
}
.bg_reg {
  background-image: url('d.png');
  background-size: cover;
}
.button {
  background-color: #008CBA;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.9s;
}
.hover:hover {
  background-color: black;
}
.t5logo-one {
   position: absolute;
   top: 760px;
   left: 7px;
}
.t5logo-one-two {
   position: absolute;
   top: 760px;
   left: 215px;
}
.t5white {
    background-color: white;
    color: white;
    font-size: 13px
}
.t5whitetab {
   position: absolute;
   top: 628px;
   width: 300px;
   left: 8px;
   opacity: 0.2;
   text-indent: 0px;
}
.t5white2 {
    background-color: white;
    color: white;
}
.t5whitetab2 {
   position: absolute;
   top: 758px;
   width: 300px;
   left: 8px;
   opacity: 0.05;
}
.t5barcode {
  position: absolute;
   top: 725px;
   left: 250px;
   opacity: .8;
}
.t5wing {
  position: absolute;
  top: 640px;
  left: 100px;
  opacity: .2;
}

#t5mid {
  position: absolute;
  top: 654px;
  left: 15px;
  font-size: 10px;
    }
#t5mid2 {
  position: absolute;
  top: 706px;
  left: 15px;
  font-size: 10px;
}
#t5mid3 {
  position: absolute;
  top: 706px;
  left: 80px;
  font-size: 10px;
}
#t5mid4 {
  position: absolute;
  top: 706px;
  left: 150px;
  font-size: 10px;
}
#t5mid5 {
  position: absolute;
  top: 654px;
  left: 150px;
  font-size: 10px;
}
#t5top {
  position: absolute;
  top: 631px;
  left: 15px;
  font-size: 8px;
  color: white;
}
#t5top2 {
  position: absolute;
  top: 631px;
  left: 100px;
  font-size: 8px;
  color: white;
}
#t5top3 {
  position: absolute;
  top: 631px;
  left: 200px;
  font-size: 8px;
  color: white;
}
.t6logo-one {
   position: absolute;
   top: 915px;
   left: 7px;
}
.t6logo-one-two {
   position: absolute;
   top: 915px;
   left: 215px;
}
.t6white {
    background-color: white;
    color: white;
    font-size: 13px
}
.t6whitetab {
   position: absolute;
   top: 783px;
   width: 300px;
   left: 8px;
   opacity: 0.2;
   text-indent: 0px;
}
.t6white2 {
    background-color: white;
    color: white;
}
.t6whitetab2 {
   position: absolute;
   top: 913px;
   width: 300px;
   left: 8px;
   opacity: 0.05;
}
.t6barcode {
  position: absolute;
   top: 880px;
   left: 250px;
   opacity: .8;
}
.t6wing {
  position: absolute;
  top: 795px;
  left: 100px;
  opacity: .2;
}

#t6mid {
  position: absolute;
  top: 809px;
  left: 15px;
  font-size: 10px;
    }
#t6mid2 {
  position: absolute;
  top: 861px;
  left: 15px;
  font-size: 10px;
}
#t6mid3 {
  position: absolute;
  top: 861px;
  left: 80px;
  font-size: 10px;
}
#t6mid4 {
  position: absolute;
  top: 861px;
  left: 150px;
  font-size: 10px;
}
#t6mid5 {
  position: absolute;
  top: 809px;
  left: 150px;
  font-size: 10px;
}
#t6top {
  position: absolute;
  top: 786px;
  left: 15px;
  font-size: 8px;
  color: white;
}
#t6top2 {
  position: absolute;
  top: 786px;
  left: 100px;
  font-size: 8px;
  color: white;
}
#t6top3 {
  position: absolute;
  top: 786px;
  left: 200px;
  font-size: 8px;
  color: white;
}
.bg_reg {
  background-image: url('d.png');
  background-size: cover;
}
.button {
  background-color: #008CBA;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.9s;
}
.hover:hover {
  background-color: black;
}
.t7logo-one {
   position: absolute;
   top: 1070px;
   left: 7px;
}
.t7logo-one-two {
   position: absolute;
   top: 1070px;
   left: 215px;
}
.t7white {
    background-color: white;
    color: white;
    font-size: 13px
}
.t7whitetab {
   position: absolute;
   top: 938px;
   width: 300px;
   left: 8px;
   opacity: 0.2;
   text-indent: 0px;
}
.t7white2 {
    background-color: white;
    color: white;
}
.t7whitetab2 {
   position: absolute;
   top: 1068px;
   width: 300px;
   left: 8px;
   opacity: 0.05;
}
.t7barcode {
  position: absolute;
   top: 1035px;
   left: 250px;
   opacity: .8;
}
.t7wing {
  position: absolute;
  top: 950px;
  left: 100px;
  opacity: .2;
}

#t7mid {
  position: absolute;
  top: 964px;
  left: 15px;
  font-size: 10px;
    }
#t7mid2 {
  position: absolute;
  top: 1016px;
  left: 15px;
  font-size: 10px;
}
#t7mid3 {
  position: absolute;
  top: 1016px;
  left: 80px;
  font-size: 10px;
}
#t7mid4 {
  position: absolute;
  top: 1016px;
  left: 150px;
  font-size: 10px;
}
#t7mid5 {
  position: absolute;
  top: 964px;
  left: 150px;
  font-size: 10px;
}
#t7top {
  position: absolute;
  top: 941px;
  left: 15px;
  font-size: 8px;
  color: white;
}
#t7top2 {
  position: absolute;
  top: 941px;
  left: 100px;
  font-size: 8px;
  color: white;
}
#t7top3 {
  position: absolute;
  top: 941px;
  left: 200px;
  font-size: 8px;
  color: white;
}
.bg_reg {
  background-image: url('d.png');
  background-size: cover;
}
.button {
  background-color: #008CBA;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.9s;
}
.hover:hover {
  background-color: black;
}
.t8logo-one {
   position: absolute;
   top: 1225px;
   left: 7px;
}
.t8logo-one-two {
   position: absolute;
   top: 1225px;
   left: 215px;
}
.t8white {
    background-color: white;
    color: white;
    font-size: 13px
}
.t8whitetab {
   position: absolute;
   top: 1093px;
   width: 300px;
   left: 8px;
   opacity: 0.2;
   text-indent: 0px;
}
.t8white2 {
    background-color: white;
    color: white;
}
.t8whitetab2 {
   position: absolute;
   top: 1223px;
   width: 300px;
   left: 8px;
   opacity: 0.05;
}
.t8barcode {
  position: absolute;
   top: 1190px;
   left: 250px;
   opacity: .8;
}
.t8wing {
  position: absolute;
  top: 1105px;
  left: 100px;
  opacity: .2;
}

#t8mid {
  position: absolute;
  top: 1119px;
  left: 15px;
  font-size: 10px;
    }
#t8mid2 {
  position: absolute;
  top: 1171px;
  left: 15px;
  font-size: 10px;
}
#t8mid3 {
  position: absolute;
  top: 1171px;
  left: 80px;
  font-size: 10px;
}
#t8mid4 {
  position: absolute;
  top: 1171px;
  left: 150px;
  font-size: 10px;
}
#t8mid5 {
  position: absolute;
  top: 1119px;
  left: 150px;
  font-size: 10px;
}
#t8top {
  position: absolute;
  top: 1096px;
  left: 15px;
  font-size: 8px;
  color: white;
}
#t8top2 {
  position: absolute;
  top: 1096px;
  left: 100px;
  font-size: 8px;
  color: white;
}
#t8top3 {
  position: absolute;
  top: 1096px;
  left: 200px;
  font-size: 8px;
  color: white;
}
.bg_reg {
  background-image: url('d.png');
  background-size: cover;
}
.button {
  background-color: #008CBA;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.9s;
}
.hover:hover {
  background-color: black;
}
.t9logo-one {
   position: absolute;
   top: 1380px;
   left: 7px;
}
.t9logo-one-two {
   position: absolute;
   top: 1380px;
   left: 215px;
}
.t9white {
    background-color: white;
    color: white;
    font-size: 13px
}
.t9whitetab {
   position: absolute;
   top: 1248px;
   width: 300px;
   left: 8px;
   opacity: 0.2;
   text-indent: 0px;
}
.t9white2 {
    background-color: white;
    color: white;
}
.t9whitetab2 {
   position: absolute;
   top: 1378px;
   width: 300px;
   left: 8px;
   opacity: 0.05;
}
.t9barcode {
  position: absolute;
   top: 1345px;
   left: 250px;
   opacity: .8;
}
.t9wing {
  position: absolute;
  top: 1260px;
  left: 100px;
  opacity: .2;
}

#t9mid {
  position: absolute;
  top: 1274px;
  left: 15px;
  font-size: 10px;
    }
#t9mid2 {
  position: absolute;
  top: 1326px;
  left: 15px;
  font-size: 10px;
}
#t9mid3 {
  position: absolute;
  top: 1326px;
  left: 80px;
  font-size: 10px;
}
#t9mid4 {
  position: absolute;
  top: 1326px;
  left: 150px;
  font-size: 10px;
}
#t9mid5 {
  position: absolute;
  top: 1274px;
  left: 150px;
  font-size: 10px;
}
#t9top {
  position: absolute;
  top: 1251px;
  left: 15px;
  font-size: 8px;
  color: white;
}
#t9top2 {
  position: absolute;
  top: 1251px;
  left: 100px;
  font-size: 8px;
  color: white;
}
#t9top3 {
  position: absolute;
  top: 1251px;
  left: 200px;
  font-size: 8px;
  color: white;
}
.bg_reg {
  background-image: url('d.png');
  background-size: cover;
}
.button {
  background-color: #008CBA;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.9s;
}
.hover:hover {
  background-color: black;
}
.t10logo-one {
   position: absolute;
   top: 1535px;
   left: 7px;
}
.t10logo-one-two {
   position: absolute;
   top: 1535px;
   left: 215px;
}
.t10white {
    background-color: white;
    color: white;
    font-size: 13px
}
.t10whitetab {
   position: absolute;
   top: 1403px;
   width: 300px;
   left: 8px;
   opacity: 0.2;
   text-indent: 0px;
}
.t10white2 {
    background-color: white;
    color: white;
}
.t10whitetab2 {
   position: absolute;
   top: 1533px;
   width: 300px;
   left: 8px;
   opacity: 0.05;
}
.t10barcode {
  position: absolute;
   top: 1500px;
   left: 250px;
   opacity: .8;
}
.t10wing {
  position: absolute;
  top: 1415px;
  left: 100px;
  opacity: .2;
}

#t10mid {
  position: absolute;
  top: 1429px;
  left: 15px;
  font-size: 10px;
    }
#t10mid2 {
  position: absolute;
  top: 1481px;
  left: 15px;
  font-size: 10px;
}
#t10mid3 {
  position: absolute;
  top: 1481px;
  left: 80px;
  font-size: 10px;
}
#t10mid4 {
  position: absolute;
  top: 1481px;
  left: 150px;
  font-size: 10px;
}
#t10mid5 {
  position: absolute;
  top: 1429px;
  left: 150px;
  font-size: 10px;
}
#t10top {
  position: absolute;
  top: 1406px;
  left: 15px;
  font-size: 8px;
  color: white;
}
#t10top2 {
  position: absolute;
  top: 1406px;
  left: 100px;
  font-size: 8px;
  color: white;
}
#t10top3 {
  position: absolute;
  top: 1406px;
  left: 200px;
  font-size: 8px;
  color: white;
}
