body{
    background-color: white;
  }
  ul {
      list-style-type: none;
      background-color: white;
      overflow: auto;
    }
    
  li {
      float: left;
  }

  li a {
      display: block;
      color: black;
      padding: 20px;
      font-family: verdana;
      text-decoration: none;

    }
  
  
  li a:hover{
      background-color: aqua;
  }
  
  .logoutdesign {
    background-size: cover;
      background-image: url('b.png');
      background-repeat: no-repeat;
  }
  
  .bg_home {
      background-image: url('a.png');
      background-repeat: no-repeat;
  }
  
  h2 {
      color: white;
      
  }
  
  p {
      font-family: verdana;
      font-size: 20px;
  }
  .about {
    color: white;
  }

  .about1 {
    color: white;
  }